* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.selectorBlue::-moz-selection {
    background: #80b8f0;
}

.selectorBlue ::-moz-selection {
    background: lightcoral;
}

.selectorBlue ::selection {
    background: #80b8f0;

}

.selectorPink ::selection {
    background: lightcoral;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.active {
    color: white;
}

.transition {
    transition: .05s;
}

.whiteHover:hover {
    color: white;
}

.container::-webkit-scrollbar {
    display: none;
}

/* 
lightBlack : #161313
lightWhite : #8A8989
darkWhite : #303030
blue :#80b8f0
accentuation : ***
*/

h1 {
    font-family: 'Anton', sans-serif;
    color: white;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #494949;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #494949;
}

p {
    color: #8A8989;
}

.subDesc {
    color: #8A8989;
    font-size: .8em;
}

a {
    color: #8A8989;
    text-decoration: none;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.mainBackground {
    background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square1 {
    height: 400px;
    width: 400px;
    background: #80b8f0;
    z-index: 1;
    position: absolute;
    left: 8%;
    top: 15%;
}

.square2 {
    height: 400px;
    width: 400px;
    background: #80b8f0;
    z-index: 1;
    position: absolute;
    right: 15%;
    bottom: 5%;
}

.container {
    z-index: 99;
    background: #161313;
    height: 80vh;
    width: 80vw;
    overflow: auto;
}

.head {
    width: 100%;
    /* height: 100%; */
    display: flex;
}

.headLeft {
    width: 100%;
    padding-top: 2%;
    padding-left: 5%;
    position: relative;
}

.headLeft2 {
    width: 50%;
    padding-top: 2%;
    padding-left: 5%;
}

.headText {
    width: 60%;
}

.headText2 {
    padding-bottom: 2%;
}

.headText h1,
h2 {
    padding-bottom: 20px;
}

.headRight {
    background: lightcoral;
    width: 70%;
    height: 80vh;
    position: relative;
}

.headRight2 {
    background: lightcoral;
    padding-top: 2%;
    padding-left: 5%;
    width: 50%;
}

.heroImg {
    height: 100%;
    width: 100%;
}

.nav {
    /* position: absolute; */
    /* top: -40px; */
    margin-bottom: 10px;
    margin-left: 35%;
    z-index: 99;
}

.nav a {
    margin-right: 10px;
}

.socialIcons {
    position: absolute;
    top: 20%;
    right: 7%;
    display: flex;
    flex-direction: column;
}

.socialIcons img {
    height: 20px;
    margin-top: 10px;
}

.blackText {
    color: black;
}

.whiteBg {
    background: rgb(250, 250, 250);
}

.cardLike {
    position: relative;
    padding: 10px;
}

.cardLike .date {
    font-size: 9px;
    color: lightcoral;
    font-weight: 700;
    writing-mode: vertical-rl;
    position: absolute;
    left: -10px;
}

.cardLike h4 {
    text-transform: uppercase;
}

.cardLike p {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    font-size: 14px;
}

.textBlue {
    color: #80b8f0;
}

.skills {
    text-align: center;
}

.skills img {
    height: 70px;
}

.projects {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 9999;
    padding: 20px 5%;
    gap: 20px;
    text-align: center;
}

.projectCard {
    flex: 350px;
}

.projectCard img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    /* background: #80b8f0; */
    padding: 1px;
}

.contact {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact a {
    color: black;
    border: 2px solid black;
    background: white;
    font-weight: bold;
    padding: 20px 40px;
    filter: drop-shadow(5px 3px 0px #80b8f0) drop-shadow(-5px -3px 0px lightcoral);
    transition: .2s;
}

.contact a:hover {
    transform: scale(1.03);
}

/* MEDIA QUERIES */

@media screen and (max-width:1000px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .square1,
    .square2 {
        display: none;
    }

    .head {
        display: flex;
        /* flex-direction: column; */
    }

    .headText {
        width: 100%;
    }

    .headLeft {
        padding-bottom: 4%;
    }
}

@media screen and (max-width:800px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .headLeft2,
    .headRight2,
    .headText {
        width: 100%;
    }

    .square1,
    .square2 {
        display: none;
    }

    .head {
        display: flex;
        flex-direction: column;
    }

    .heroImg {
        display: none;
    }

    .headRight {
        display: none;
    }

    .headLeft {
        padding-bottom: 4%;
    }

    .cards {
        padding: 0;
    }
}